@tailwind base;
@tailwind components;
@tailwind utilities;

.common-page {
  @apply max-w-[400px];
  display: flex;
  flex-direction: column;
  height: 100vh; /* 화면 높이 기준으로 세로 크기 설정 */
  aspect-ratio: 9 / 16; /* 9:20 비율 유지 */
  display: flex;
  justify-content: center;
  padding: 2vw;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto; /* 화면 높이를 초과하면 스크롤 가능하게 설정 */
}
